/**
 * Style the navbar
 */
a:hover {
    cursor: pointer;
    background: rgba(178, 232, 139, 1);
    color: rgba(0, 0, 0, 10);
}

.viewpage .selected {
    background-color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    color: grey;
}

/**
 * Use border-box to inlude padding and border in item width.
 */
* {
    box-sizing: border-box;
}

/**
 * Style for page controller viewpage
 */
.wrap-main {
    background-color: hsl(60, 100%, 86%);
    overflow: auto;
    border: 10px solid hsl(60, 100%, 76%);
}

main {
    width: 70%;
    float: left;
    background-color: hsl(133, 100%, 86%);
    min-height: 20em;
    border: 10px solid hsl(133, 100%, 76%);
    padding: 2px;
}

article {
    background-color: hsl(133, 100%, 86%);
    padding-left: 1em;
    padding-bottom: 2em;
}

pre {
    white-space: pre-wrap;
}

aside {
    width: 30%;
    float: left;
    background-color: hsl(206, 100%, 86%);
    border: 10px solid hsl(206, 100%, 76%);
}

.multifooter {
    clear: both;
    text-align: center;
    border: 10px solid #ffdfba;
    background-color: #ffb3ba;
    color: #000;
    font-size: 100%;
}

h1 {
    border-bottom: 1px solid #999;
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 1.4rem;
    color: grey;
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    line-height: 1.2;
}

code {
    background-color: white;
    color: orange;
    font-size: 1rem;
}
